/*GENERAL STYLE
-----------------------------------------------------------*/

body {
  position: relative;
  background: #fff;
  font-family: "Tahoma";
  color: #000000;
}

.wrap {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  max-width: 64em;
}

* {
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

.left {
  float: left;
}

.right {
  float: right;
}

.cf:after {
  display: table;
  clear: both;
  content: " ";
}


/*  PAGE STRYKTYRE
-----------------------------------------------------------*/

/* TOP
-----------------------------*/

.top {
  width: 100%;
  padding: 1em;
  background: #4d4d4d;
  color: #41caf5; 
}

.top-text {
  padding-left: 20px;
  padding-top: 5px;
  font-size: 35px;
}

.top-text span {
  font-size: 16px;
}

.contacts {
  padding-top: 0.5em;
}

.contacts li {
  margin: 3px;
}


/* TOP MENU
-----------------------------*/

.top-menu {
  padding: 1.25em;
  text-align: center;
  background: #05a1d2;
}

.top-menu ul li {
  display: inline-block;
  margin-right: -0.2em;
}

.top-menu a {
  display: block;
  padding: 1em;
  text-decoration: none;
  color: #eaeaea;
}

.top-menu a:hover {

}


/* CONTENT PAGE
-----------------------------*/

.content-page {
  padding: 1.25em;
  background: #05a1d2;
}

.box {
  float: left;
  max-width: 32%;
  border: 1px solid black;
}

.box img {
 width: 100%;
}

.content-page .box {
  margin-right: 1.953125%;
}


.box:last-child {
  margin-right: 0;
}

.box-text {
  padding: 1.5625em ;
}
 


/* FOOTER
-----------------------------*/

.footer {
  position: absolute;
  width: 100%;
  padding: 2em;
  background: #05799d;
}

.fot-box {
  margin-left: 30px;
}

.fot-box:first-child {
  margin-left: 0;
}

.social-text {
  padding: 5px;
  font-size: 20px;
}

.contacts-footer li {
  margin: 3px;
}

.vk,
.fasebook,
.instagram {
  margin-left: 8px;
  width: 30px;
  height: 30px;
  background: url(../img/social.png);
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

.vk {
  background-position: 0;
}

.fasebook {
  background-position: -32px 0;
}

.instagram {
  background-position: -63px 0;
}

