body {
	position: relative;
  background: url(../img/bac-body.png);
  font-family: "Tahoma";
  color: #fff;
}

* {
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

.logo,
.top-text,
.right-text,
.top-menu li,
.fot-box,
.vk,
.fasebook,
.instagram {
	float: left;
}

.contacts,
.section-wrapper img,
.contacts-footer,
.box {
	float: right;
}

.cf:after {
	display: table;
	clear: both;
	content: " ";
}

h2 {
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: 100 ;
}

h3 {
  margin: 20px 0 5;
  font-size: 20px;
  padding-left: 5px;
}
/*  Page strukture
--------------------------*/

/* Header
--------------------------*/

.content {
	position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 960px;
}

.top {
	position: absolute;
	width: 100%;
  padding: 1em;
  min-height: 130px;
  z-index: 15;
  background: url(../img/bac-top.png);
  color: #41caf5; 
  border-bottom: 2px solid rgba(255,255,255,.7);
  box-shadow: 0 0 10px rgba(3,3,3, 0.9); 
  -moz-box-shadow: 0 0 10px rgba(3,3,3, 0.9);
  -webkit-box-shadow: 0 0 10px rgba(3,3,3, 0.9);
}

.top-text {
	padding-left: 20px;
	padding-top: 15px;
	font-size: 35px;
}

.top-text span {
  font-size: 16px;
}

.contacts {
  padding-top: 0.5em;
}

.contacts li {
  margin: 3px;
}


/* Top menu
--------------------------*/

.top-menu {  
  position: absolute;
  display: block;
  left: 50%;
  margin-left: -30%;
  margin-top: 0.5em;
  z-index: 10;
}

.top-menu li {
  list-style: none;
}

.top-menu a {
  display: block;
  padding: 1em;
  overflow: hidden;
  text-decoration: none;
  color: #eaeaea;
  border: 2px solid rgba(255,255,255,.7);
  background: url(../img/bac-top-menu.png);
  box-shadow: 0 0 10px rgba(79,79,79,.6);
  -moz-box-shadow: 0 0 10px rgba(79,79,79,.6);
  -webkit-box-shadow: 0 0 10px rgba(79,79,79,.6);
}

.top-menu a.first {
	border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  -webkit-border-radius: 10px 0 0 10px;
}

.top-menu a.last {
	border-radius:  0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
}

.top-menu a:hover {
  background: #ffffff;
  color: #020202;
  box-shadow: inset 0px 0px 4px rgba(65,202,254,.5);
  -moz-box-shadow: inset 0px 0px 4px rgba(65,202,254,.5);
  -webkit-box-shadow: inset 0px 0px 4px rgba(65,202,254,.5);
}

/* CONTENT PAGE
--------------------------*/

.section-wrapper {
  padding: 5em;
  position: relative;
  padding-top: 10em;
  background: #fcfcfc;
  color: #263232;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  text-align: justify;
}

.box {
	border: 9px solid #d2d7d7;
	border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.box img {
  border: 1px solid #fff;
}

.description,
.condition {
  padding: 50px 0 50px;
}

.section-title {
	text-transform: uppercase;
}

.grid {
	width: 410px;
}
.step {
	margin: 30px 0 0;
}

.description h2 {
	text-align: center;
}

.but-line {
	margin-bottom: 1em;
	padding: 3px;
	background: #d4d4d4;
	border-radius: 3px;
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
}
/* footer
--------------------------*/

.footer {
  position: absolute;
  width: 100%;
	padding: 2em;
	background: url(../img/bac-top.png);
  border-top: 2px solid rgba(255,255,255,.7);
  box-shadow: 0 0 10px rgba(3,3,3, 0.9);   /*rgba(3,3,3, 0.9); /*62,202,245,.6 -  варианты   */ 
  -moz-box-shadow: 0 0 10px rgba(3,3,3, 0.9);
  -webkit-box-shadow: 0 0 10px rgba(3,3,3, 0.9);
}

.fot-box {
  margin-left: 30px;
}

.fot-box:first-child {
  margin-left: 0;
}

.social-text {
	padding: 5px;
	font-size: 20px;
}

.contacts-footer li {
  margin: 3px;
}

.vk,
.fasebook,
.instagram {
  margin-left: 8px;
  width: 30px;
  height: 30px;
  background: url(../img/social.png);
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

.vk {
  background-position: 0;
}

.fasebook {
  background-position: -32px 0;
}

.instagram {
  background-position: -63px 0;
}

