/*GENERAL STYLE
-----------------------------------------------------------*/

body {
  position: relative;
  background: #fff;
  font-family: "Tahoma";
  color: #fff;
}

* {
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

.left {
  float: left;
}

.right {
  float: right;
}

.cf:after {
  display: table;
  clear: both;
  content: " ";
}

h2 {
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: 100 ;
}

h3 {
  margin: 20px 0 5;
  font-size: 20px;
  padding-left: 5px;
}
/*  PAGE STRYKTYRE
-----------------------------------------------------------*/

/* TOP
-----------------------------*/

.wrap {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 64em;
}

.top {
  width: 100%;
  padding: 1em;
  background: #4d4d4d;
  color: #41caf5; 
}

.top-text {
  padding-left: 20px;
  padding-top: 5px;
  font-size: 35px;
}

.top-text span {
  font-size: 16px;
}

.contacts {
  padding-top: 0.5em;
}

.contacts li {
  margin: 3px;
}


/* Top menu
-----------------------------*/

.top-menu {
  padding: 1.25em;
  text-align: center;
  background: #05a1d2;
}

.top-menu ul {

}

.top-menu ul li {
  display: inline-block;
  margin-right: -0.2em;
}

.top-menu a {
  display: block;
  padding: 1em;
  text-decoration: none;
  color: #eaeaea;
}

.top-menu a:hover {

}

.div {
  height: 100px;
  margin: 2px;
  background: #05a1d2;

}

/* CONTENT PAGE
--------------------------*/

.section-wrapper {
  padding: 5em;
  position: relative;
  padding-top: 10em;
  background: #fcfcfc;
  color: #263232;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  text-align: justify;
}

.box {
  border: 9px solid #eeeded;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.box img {
  border: 1px solid #fff;
}

.description,
.condition {
  padding: 50px 0 50px;
}

.section-title {
  text-transform: uppercase;
}

.grid {
  width: 410px;
}
.step {
  margin: 30px 0 0;
}

.description h2 {
  text-align: center;
}

.but-line {
  margin-bottom: 1em;
  padding: 3px;
  background: #eeeded;
  border-radius: 3px;
  -moz-border-radius: 3px; 
  -webkit-border-radius: 3px;
}

/* footer
--------------------------*/

.footer {
  position: absolute;
  width: 100%;
  padding: 2em;
  background: url(../img/bac-top.png);
  border-top: 2px solid rgba(255,255,255,.7);
  box-shadow: 0 0 10px rgba(3,3,3, 0.9);   /*rgba(3,3,3, 0.9); /*62,202,245,.6 -  варианты   */ 
  -moz-box-shadow: 0 0 10px rgba(3,3,3, 0.9);
  -webkit-box-shadow: 0 0 10px rgba(3,3,3, 0.9);
}

.fot-box {
  margin-left: 30px;
}

.fot-box:first-child {
  margin-left: 0;
}

.social-text {
  padding: 5px;
  font-size: 20px;
}

.contacts-footer li {
  margin: 3px;
}

.vk,
.fasebook,
.instagram {
  margin-left: 8px;
  width: 30px;
  height: 30px;
  background: url(../img/social.png);
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

.vk {
  background-position: 0;
}

.fasebook {
  background-position: -32px 0;
}

.instagram {
  background-position: -63px 0;
}

