/*GENERAL STYLE
-----------------------------------------------------------*/

body {
  position: relative;
  background: #fff;
  font-family: "Tahoma";
  color: #000000;
}

.wrap {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  max-width: 64em;
}

* {
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

.left {
  float: left;
}

.right {
  float: right;
}

.cf:after {
  display: table;
  clear: both;
  content: " ";
}


/*  PAGE STRYKTYRE
-----------------------------------------------------------*/

/* TOP
-----------------------------*/

.top {
  width: 100%;
  padding: 1em;
  background: #4d4d4d;
  color: #41caf5; 
}

.top-text {
  padding-left: 20px;
  padding-top: 5px;
  font-size: 35px;
}

.top-text span {
  font-size: 16px;
}

.contacts {
  padding-top: 0.5em;
}

.contacts li {
  margin: 3px;
}


/* TOP MENU
-----------------------------*/

.top-menu {
  padding: 0.5em;
  text-align: center;
  background: #05a1d2;
}

.top-menu ul li {
  display: inline-block;
  margin-right: -0.2em;
}

.top-menu a {
  display: block;
  padding: 1em 1.5em 0 1.5em;

  text-decoration: none;
  color: #eaeaea;
}

.top-menu a:hover {

}


/* CONTENT PAGE
-----------------------------*/

.content-page {
  padding: 1em;
  height: 100%;
  background: #05a1d2;
}

.box {
  float: left;
  max-width: 32%;
  background-image: -webkit-gradient(
  linear,
  right top,
  right bottom,
  color-stop(0.41, rgb(5, 162, 210)),
  color-stop(0.88, rgb(35, 199, 249)));
  background-image: -o-linear-gradient(bottom, rgb(5, 162, 210) 41%, rgb(35, 199, 249) 88%);
  background-image: -moz-linear-gradient(bottom, rgb(5, 162, 210) 41%, rgb(35, 199, 249) 88%);
  background-image: -webkit-linear-gradient(bottom, rgb(5, 162, 210) 41%, rgb(35, 199, 249) 88%);
  background-image: -ms-linear-gradient(bottom, rgb(5, 162, 210) 41%, rgb(35, 199, 249) 88%);
  background-image: linear-gradient(to bottom, rgb(5, 162, 210) 41%, rgb(35, 199, 249) 88%);
}

.box img {
 width: 100%;
}

.content-page .box {
  margin-right: 1.953125%;
}


.box:last-child {
  margin-right: 0;
}

.box-text {
  padding: 1.5625em ;
}

.box h2 {
  padding-bottom: 1.25em;
  font-size: 1.5em;
  color: #f1f8fa;
}
 
/*DESCRIPTION
-----------------------------*/

.description {
  padding: 1em 0 2em 0;
}

.description h2 {
  margin: 2em 0 1em 0;
  text-align: center;
  font-size: 2.25em;
}

/* FOOTER
-----------------------------*/

.footer {
  position: absolute;
  width: 100%;
  padding: 1em;
  background: #05799d;
  color: #ffffff;
}

.social {
  margin-left: 2.9em;
}

.fot-box:first-child {
  margin-left: 0;
}

.social-text {
  margin: 1.5em 0 0 1em;
  font-size: 1.25em;
}

.contacts-foot {
  margin: 1.5em 0 0 1em;
}

.vk,
.fasebook,
.instagram {
  margin-left: 8px;
  width: 30px;
  height: 30px;
  background: url(../img/social.png);
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

.vk {
  background-position: 0;
}

.fasebook {
  background-position: -32px 0;
}

.instagram {
  background-position: -63px 0;
}

