//out: style.css, soursemap: true, compress: true

/*============    ШРИФТЫ    ===========*/

/*============    ГЛАВНЫЙ ЭКРАН    ===========*/

/*============    Section question    ===========*/
.form_inpyt {
  display: block;
}
/*============    HEADER   ===========*/
header {
  display: block;
  padding-top: 10px;
  background: #d7d7d7;

  h2 {
    text-transform: uppercase;
    color: #0d78b4;
    font-weight: bold;
  }

  .logotype {
    margin-top: 12px;
    width: 75px;
    height: 80px;
  }

  .phone_hed {
    text-align: right;
    text-transform: uppercase;
    background: #d7d7d7;
  }

}

/*============    ШРИФТЫ    ===========*/

/*============    ШРИФТЫ    ===========*/

/*============    ШРИФТЫ    ===========*/

/*============    ШРИФТЫ    ===========*/

/*============    ШРИФТЫ    ===========*/

/*============    ШРИФТЫ    ===========*/

/*============    ШРИФТЫ    ===========*/

/*============    ПОДВАЛ    ===========*/

/*============    	ВСПЛЫВАЮЩИЕ ОКНА    ===========*/

/*============    	АДАПТИВ    ===========*/

@media(min-width:0px) and (max-width:320px)  {

}

@media(min-width:321px) and (max-width:480px) {

}

@media(min-width:481px) and (max-width:768px) {

}

@media(min-width:769px) and (max-width:992px) {

}

@media(min-width:993px) and (max-width:1200px) {

}
