//out: style.css, soursemap: true, compress: true

/*============    ШРИФТЫ    ===========*/
@font-face {
    font-family: 'MontserratBold';
    src: url('fonts/MontserratBold.eot');
    src: url('fonts/MontserratBold.eot') format('embedded-opentype'),
         url('fonts/MontserratBold.woff2') format('woff2'),
         url('fonts/MontserratBold.woff') format('woff'),
         url('fonts/MontserratBold.ttf') format('truetype'),
         url('fonts/MontserratBold.svg#MontserratBold') format('svg');
}
@font-face {
    font-family: 'MontserratMedium';
    src: url('fonts/MontserratMedium.eot');
    src: url('fonts/MontserratMedium.eot') format('embedded-opentype'),
         url('fonts/MontserratMedium.woff2') format('woff2'),
         url('fonts/MontserratMedium.woff') format('woff'),
         url('fonts/MontserratMedium.ttf') format('truetype'),
         url('fonts/MontserratMedium.svg#MontserratMedium') format('svg');
}
@font-face {
    font-family: 'MontserratLight';
    src: url('fonts/MontserratLight.eot');
    src: url('fonts/MontserratLight.eot') format('embedded-opentype'),
         url('fonts/MontserratLight.woff2') format('woff2'),
         url('fonts/MontserratLight.woff') format('woff'),
         url('fonts/MontserratLight.ttf') format('truetype'),
         url('fonts/MontserratLight.svg#MontserratLight') format('svg');
}

.bold {
  font-family: 'MontserratBold';
}
.med {
  font-family: 'MontserratMedium';
}
.light {
  font-family: 'MontserratLight';
}

/*============    BODY    ===========*/
body {
  font-family: 'Montserrat', sans-serif;
  color: #666666;
}

/*============    HEADER   ===========*/
header {
  padding-top: 10px;
  display: block;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(212,212,212,1);
     -moz-box-shadow: 0px 1px 1px 0px rgba(212,212,212,1);
          box-shadow: 0px 1px 1px 0px rgba(212,212,212,1);
  .logotype {
    margin-top: 15px;
    width: 75px;
    height: 60px;
  }

  .text_logo {
    h2 {
      margin-top: 23px;
      text-transform: uppercase;
      .bold;
      span {
        color: #e63848;
      }
      // background: linear-gradient(45deg, #0B2349 33%, #0D61BC 66%, #8AA9D6);
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;
    }
  }
  .phone_hed {
    text-align: right;
    text-transform: uppercase;
    h3 {
      a {
        .light;
        text-decoration: none;
        font-weight: bold;
        color: #585858;
        font-size: 26px;
        &:hover {
          text-decoration: none;
        }
        &:before {
          content: " ";
          display: inline-block;
          width: 32px;
          height: 32px;
          margin-right: 5px;
          vertical-align: sub;
          background: url(../img/had_phope_icon.png) no-repeat center center;
          opacity: 0.4;
        }
      }
    }
    p {
      font-size: 12px;
      margin-top: 5px;
      color: #6f6f6f;
    }
  }
}

/*============    Section question    ===========*/
#question {
  padding-top: 100px;
  background: url(../img/bac_quwstion.png) no-repeat 40% 100%;
  .title_question {
    .bold;
    text-transform: uppercase;
    color: #666666;
    h1 {
      line-height: 150%;
      span {
        color: #e63848;
      }
    }
    p {
      margin-top: 30px;
      display: block;
      .med;
      color: #666666;
      font-size: 16px;
    }
  }
  .wrap_question {            //FORM
    padding: 10px 10px 10px 0px;
    width: 100%;
    h3 {                     //STYLE CAPTION
      padding-top: 10px;
      font-family: arial;
      text-align: center;
      text-transform: uppercase;
      color: #e63848;
    }
    form {                   //STYLE INPUT
      box-sizing: border-box;
      // padding: 10px;
      color: #666666;
      .med;
      p {                    //STYLE INPUT
        display: block;
        padding: 0;
        margin: 0;
        input[name="name"],
        input[name="email"],
        input[name="phone"] {
          margin: 5px 0px 5px 0px;
          padding: 20px;
          width: 100%;
          height: 20px;
          border: 1px solid #dfdfdf;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          background: none;
          cursor: pointer;
        }
        input[name="name"]::-webkit-input-placeholder { color: #716f6f; }// STYLE PLACEHOLDER INPUT
            input[name="name"]::-ms-input-placeholder { color: #716f6f; }
              input[name="name"]:-ms-input-placeholder { color: #716f6f; }
                      input[name="name"]::placeholder { color: #716f6f; }

        input[name="email"]::-webkit-input-placeholder { color: #716f6f; }
            input[name="email"]::-ms-input-placeholder { color: #716f6f; }
              input[name="email"]:-ms-input-placeholder { color: #716f6f; }
                              input[name="email"]::placeholder { color: #716f6f; }

        input[name="phone"]::-webkit-input-placeholder { color: #716f6f; }
            input[name="phone"]::-ms-input-placeholder { color: #716f6f; }
              input[name="phone"]:-ms-input-placeholder { color: #716f6f; }
                      input[name="phone"]::placeholder { color: #716f6f; }
      }
      textarea[name="text_send"] {        //STYLE TEXTAREA
        width: 100%;
        height: 150px;
        resize: none;
        overflow: hidden;
        margin: 5px 0px 5px 0px;
        padding: 10px 0px 0px 20px;
        border: 1px solid #dfdfdf;
        cursor: pointer;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
      }
      textarea[name="text_send"]::-webkit-input-placeholder { color: #716f6f; }//STYLE PLACEHOLDER TEXTAREA
          textarea[name="text_send"]::-ms-input-placeholder { color: #716f6f; }
           textarea[name="text_send"]:-ms-input-placeholder { color: #716f6f; }
                    textarea[name="text_send"]::placeholder { color: #716f6f; }
      button {                //STYLE BOTTOM
        margin: auto;
        opacity: 0,9;
        color: #ffffff;
        width: 100%;
        height: 45px;
        background: #f1788e;
        border: 2px solid #f1788e;
        text-transform: uppercase;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        &:hover {
          background: #e63848;
          color: #ffffff;
          transition: 0.5s;
          cursor: pointer;
        }
      }
    }
  }
}

/*============    SECTION ADVANTAGES   ===========*/
#advantages {
  margin-top: 70px;
  .caption_advantages {
    text-align: center;
    text-transform: uppercase;
  }
  .wrap_advantages {
    display: block;
    margin-top: 30px;
    width: 100px;
    height: 100px;
    background: red;
  }
}

/*============    ШРИФТЫ    ===========*/

/*============    ШРИФТЫ    ===========*/

/*============    ШРИФТЫ    ===========*/

/*============    ШРИФТЫ    ===========*/

/*============    ПОДВАЛ    ===========*/

/*============    	ВСПЛЫВАЮЩИЕ ОКНА    ===========*/

/*============    	АДАПТИВ    ===========*/

@media(min-width:0px) and (max-width:320px)  {

}

@media(min-width:321px) and (max-width:480px) {

}

@media(min-width:481px) and (max-width:768px) {

}

@media(min-width:769px) and (max-width:992px) {

}

@media(min-width:993px) and (max-width:1200px) {

}
